
body{
    box-sizing: border-box;
    padding: none;
    margin: none;
    background: linear-gradient(45deg, var(--blue),var(--dark) )
}

:root{
    --blue:#03A9F4 ;
    --dark:#1D2433;
    --green:#2ecc71 ;
    --red:#ff0057 ;
    --transparent:rgba(0,0,0,.8) ;
    --shadow: 0 15px 15px 0 rgba(0,0,0,.5)

}

.container{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper{
    background: var(--transparent);
    width: 400px;
    color:#fff;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

form .submit-btn, select{
    width: 100%;
    padding: .5rem 0;
}

form .form-group{
    margin-bottom: 20px;
}

.level .title{
    display: block;
    font-weight: 600;
font-size: 1.2rem;

}


form .results{
    box-shadow: var(--shadow);
    text-align: center;
    font-weight: 600;
    padding: .5rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background:#eee;
    color:#333;
    border-radius:6px;
    border:2px solid var(--green)
}


form .submit-btn{
    outline: none;
    border-color:var(--green);
    font-size: 1rem;
    border-radius: 6px;
    background:var(--green);
    color:#fff;
    letter-spacing: 1px;
    opacity: 1;
}
form .submit-btn:hover{
    opacity: .9;
    color:#fff;

}

footer{
    background:inherit
}